.clock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
}

.clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 10rem;
    color: #00f001;
}

.btn_timer{    
    position: absolute;
    top: 1.5em;
    left: 1.5em;
}

.btn_menu{
    display: flex;
}

.input_time{
    font-family: 'Orbitron', sans-serif;
    font-size: 10rem;
    color: #00f001;
    border-radius: .15em;
    width: 1.7em;
    height: 1em;
    justify-content: end;
}