#bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5em;
    padding: .2em .6em;
    font-family: 'Orbitron', sans-serif;    
    font-size: 2em;
    border-radius: 0.25em;
    cursor: pointer;
    color: white;
    background-color: #11c711;
    border-color: #11c711;
}
#bouton:hover{
    background-color: #00f001;
    border-color: #00f001;
}

