.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn_timer{    
  position: absolute;
  top: 2em;
  left: 2em;
}

.btn_clock{
  /*position: absolute;
  bottom: 1em;
  right: 30vw;
  */
}

.btn_reset{
  /*
  position: absolute;
  bottom: 1em;
  right: 50vw;
  */
}

.btn_start{
  /*position: absolute;
  bottom: 1em;
  right: 60vw;
  */
}

.btn_menu{ 
  display: flex;
  height: 0;
  max-width: 45em;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
  bottom: 10vh; 
  flex-direction: row;
}
